#włączenie mod_rewrite
Options +FollowSymLinks
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

#Movie
RewriteRule ^Film/?$ index.php?controller=Movie&action=getAll [L]
RewriteRule ^Film/(\d+)?$ index.php?controller=Movie&action=getAll&id=$1 [L]
RewriteRule ^Film/Szczegóły/(\d+)/?$ index.php?controller=Movie&action=getOne&id=$1 [L]

#Contact
RewriteRule ^Kontakt/?$ index.php?controller=Contact&action=get [L]

#Cennik
RewriteRule ^Cennik/?$ index.php?controller=Pricing&action=getAll [L]

#Logging
RewriteRule ^Logowanie/?$ index.php?controller=Access&action=logform [L]
RewriteRule ^Walidowanie/?$ index.php?controller=Access&action=login [L]
RewriteRule ^Wylogowanie/?$ index.php?controller=Access&action=logout [L]

#Admin
#Showing
RewriteRule ^Zarządzanie/Seanse/?$ index.php?controller=Movie&action=getAllAdmin [L]
RewriteRule ^Zarządzanie/Seanse/Dodaj?$ index.php?controller=Movie&action=addShowingFormAdmin [L]

ErrorDocument 404 http://localhost/Projekty/ProjektZespolowy/cinema/errors/404.html