#włączenie mod_rewrite
Options +FollowSymLinks
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

#Movie
RewriteRule ^Film/?$ index.php?controller=Showing&action=getAll [L]
RewriteRule ^Wkrótce-w-kinie/?$ index.php?controller=Movie&action=getAllWithoutShowing [L]
RewriteRule ^Film/Szczegóły/(\d+)/?$ index.php?controller=Movie&action=getOne&id=$1 [L]

#Contact
RewriteRule ^Kontakt/?$ index.php?controller=Contact&action=get [L]

#Cennik
RewriteRule ^Cennik/?$ index.php?controller=Pricing&action=getAll [L]

#Logging
RewriteRule ^Logowanie/?$ index.php?controller=Access&action=logform [L]
RewriteRule ^Walidowanie/?$ index.php?controller=Access&action=login [L]
RewriteRule ^Wylogowanie/?$ index.php?controller=Access&action=logout [L]

#Reservation
RewriteRule ^Rezerwacja/Miejsce/Seans/(\d+)/?$ index.php?controller=Reservation&action=chooseAPlaces&id=$1 [L]
RewriteRule ^Rezerwacja/DaneKontaktowe/Seans/(\d+)/?$ index.php?controller=Reservation&action=userData&id=$1 [L]
RewriteRule ^Rezerwowanie/?$ index.php?controller=Reservation&action=reservation [L]

#Admin
#Showing
RewriteRule ^Zarządzanie/Seanse/?$ index.php?controller=Showing&action=getAllAdmin [L]
RewriteRule ^Zarządzanie/Seanse/Dodaj?$ index.php?controller=Showing&action=addFormAdmin [L]
RewriteRule ^Zarządzanie/Seanse/Dodawanie?$ index.php?controller=Showing&action=addShowing [L]
RewriteRule ^Zarządzanie/Seanse/Usun/(\d+)?$ index.php?controller=Showing&action=deleteShowing&id=$1 [L]
RewriteRule ^Zarządzanie/Seanse/Edytuj/(\d+)?$ index.php?controller=Showing&action=editFormAdmin&id=$1 [L]
RewriteRule ^Zarządzanie/Seanse/Edytowanie?$ index.php?controller=Showing&action=editShowing [L]

#Movie
RewriteRule ^Zarządzanie/Filmy/?$ index.php?controller=Movie&action=adminGetAll [L]
RewriteRule ^Zarządzanie/Filmy/Szczegóły/(\d+)/?$ index.php?controller=Movie&action=adminGetOne&id=$1 [L]
RewriteRule ^Zarządzanie/Filmy/Dodaj/?$ index.php?controller=Movie&action=addFormAdmin [L]
RewriteRule ^Zarządzanie/Filmy/Dodawanie/?$ index.php?controller=Movie&action=addMovie [L]
RewriteRule ^Zarządzanie/Filmy/Usun/(\d+)?$ index.php?controller=Movie&action=deleteMovie&id=$1 [L]
RewriteRule ^Zarządzanie/Filmy/Edytuj/(\d+)?$ index.php?controller=Movie&action=editFormAdmin&id=$1 [L]
RewriteRule ^Zarządzanie/Filmy/Edytowanie/?$ index.php?controller=Movie&action=editMovie [L]

#Type
RewriteRule ^Zarządzanie/Filmy/BezTypu/?$ index.php?controller=Type&action=getMovieWithoutTypes [L]
RewriteRule ^Zarządzanie/Filmy/BezTypu/Ustaw/(\d+)?$ index.php?controller=Type&action=setTypeForMovie&id=$1 [L]

#Reservation
RewriteRule ^Zarządzanie/Rezerwacje/?$ index.php?controller=Reservation&action=getAllAdmin [L]
RewriteRule ^Zarządzanie/Rezerwacje/Szukaj/?$ index.php?controller=Reservation&action=searchAdmin [L]
RewriteRule ^Zarządzanie/Rezerwacje/Usun/(\d+)/?$ index.php?controller=Reservation&action=deleteReservation&id=$1 [L]

ErrorDocument 404 http://localhost/Projekty/ProjektZespolowy/cinema/errors/404.html